.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;

  .wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    .name {
      h3 {
        color: #34acaf;
      }
    }

    .items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .mode {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        background-color: #34acaf;
        padding: 5px 10px;
        .icon {
          font-size: 14px;
          color: white;
        }
        h4 {
          color: white;
        }
      }
      .btn {
        background-color: #34acaf;
        border: none;
        color: white;
        border-radius: 10px;
      }
    }
  }
}
