.list {
  display: flex;
  width: 100%;
  .listContainer {
    .content {
      width: 600px;
      padding: 20px;
      margin: 20px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
          border-radius: 50px;
          border: 1px solid black;
          width: 100px;
          height: 100px;
        }
        .infoText {
          margin-left: 20px;
        }
      }
      button {
        padding: 10px 20px;
        background-color: #3cbcc4;
        color: white;
        border-radius: 10px;
        border: none;
      }
    }
  }
}
